{% extends 'vente/index.html'%}
{% block content %}


<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h3 class="col-sm-10  text-nowrap fw-bold" for="basic-default-email">Rechercher un client</h3>
      <form class="fw-bold py-3 mb-1" method="post">
          {% csrf_token %}
          <div class=" mb-3 mt-3" >
             <div class="row">
              <div class="col-md-2">
                
                
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="basic-default-email"
                    class="form-control"
                    placeholder="nom"
                    aria-describedby="basic-default-email2"
                    name="nom"
                   
                  />

                 
                </div>
                </div>
              <div class="col-md-2">
                <div class="input-group input-group-merge">
                  <input
                    type="text"
                    id="basic-default-email"
                    class="form-control"
                    placeholder="prenom"
                    aria-describedby="basic-default-email2"
                    name="prenom"
                    
                  /> 

                </div>
                </div>
                
                <div class="col-md-2">
                  <div class="input-group input-group-merge">
                    <input
                      type="text"
                      id="basic-default-email"
                      class="form-control"
                      placeholder="localite"
                      aria-describedby="basic-default-email2"
                      name="adr"
                      
                    /> 
  
                  </div>
              </div>

              <div class="col-md-3">
                
                  <div class="input-group">
                    <select class="form-control" name="sex"  id="ratio-select" aria-label="Select ratio">
                      <option value="" selected >------ choisir un genre  ------</option>
                      <option value="M" >Homme</option>
                      <option value="F">Femme</option>
                   
                    </select>
                  </div>
              
            </div>


              </div>
              </div>
      
      <input type="submit"  class="btn btn-primary right mt-3" value="Recherche" >
      <a href="{% url 'vente_home' %}" class="btn btn-danger right mt-3" >retour</a>
  </form>
  

    
      <h4 class="fw-bold py-3 mb-2"><span class="text-muted fw-light">Vente /</span> Client</h4>
      <a href="{% url 'ajout_client' %}" class="btn btn-primary right" >ajouter un client</a>
      

<div class="card text-center mt-3">

    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>addresse</th>
            <th>Sexe</th>
            <th>Telephone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for client in clients %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ client.nom }} {{client.prenom}}</strong></td>
            <td>{{client.adresse}}</td>
            <td>
              {{client.genre}}
            </td>
            <td><span class="badge bg-label-primary me-1">{{client.telephone}}</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'modifier_client' client.id_client %}"
                    ><i class="bx bx-edit-alt me-1"></i> modifier</a
                  >
                  <a class="dropdown-item" href="{% url 'sup_client' client.id_client %}"
                    ><i class="bx bx-trash me-1"></i> supprimer</a
                  >
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
         
         
         
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>

{% endblock %}