{% extends 'vente/index.html'%}
{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y mt-5">
      <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Vente /</span> Vente(journalière)</h4>
      <a href="{% url 'ajout_vente' %}" class="btn btn-primary right" >Effectuer une vente</a>
      <a href="{% url 'vente_home' %}" class="btn btn-danger right" >retour</a>

<div class="card text-center mt-3">
{% if ventes %}
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for vente in ventes %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{vente.id_client.nom}} {{vente.id_client.prenom}}</strong></td>
            <td>{{vente.id_produit.nom_produit}}</td>
            <td>
              {{vente.quantite_vendu}}
            </td>
            <td><span class="badge bg-label-primary me-1">{{vente.prix_total}}</span></td>
            <td>
              <div class="dropdown">
                
                  <a class="btn btn-info" href="{% url 'detail_vente' vente.id_vente %}"
                  ><i class="bx bx-edit-alt me-1"></i> Detail vente</a>
                   
                  <a class="btn btn-danger" href="{% url 'annule_vente' vente.id_vente %}"
                  ><i class="bx bx-trash-alt me-1"></i> annuler</a>
              
              </div>
            </td>
          </tr>
          {% endfor %}
         
         
         
        </tbody>
      </table>
    </div>

    {% else %}
    <div class="text-center fw-bold"> Aucune vente d'effectuer</div>
    {% endif%}

  </div>
 
  </div>
 
  </div>
  
{% endblock %}